Data TLB configuration
Number of sets: 2
Set size: 1

Page Table configuration
Number of virtual pages: 64
Number of physical pages: 4
Page size: 256
Replacement Policy: LRU

Data Cache configuration
Number of sets: 16
Set size: 16
Line size: 128
Write through/no write allocate: n
Replacement Policy: FIFO

L2 Cache configuration
Number of sets: 16
Set size: 4
Line size: 16
Write through/no write allocate: n
Replacement Policy: Random

Virtual addresses: y
TLB: y
L2 cache: y

Notes
  Replacement Policy must be either 'LRU', 'FIFO', or 'Random' 
